<% if @passenger.is_deactivated != true %>
  <%= render partial: "form", locals: { page_title: "Edit #{@passenger.name}" } %>
  <br>
  <%= button_to "Deactivate", mark_passenger_deactivated_path(@passenger.id),
    method: :patch, :disabled => @passenger.has_in_progress_trip?, data: { confirm: 'Are you sure?' } %>
<% else %>
  <section class="deactivated-message">Passenger #<%= @passenger.id %> has been deactivated.</section>
<% end %>
