<h1 class="page-header">All Drivers</h1>
<ul class="user-list">
  <% @drivers.each do |driver| %>
    <% next if driver.is_deactivated %>
  	<li><%= link_to driver.name, driver_path(driver.id) %>: <%= driver.get_status %></li>
  <% end %>
</ul>
